body {
  background-color: #f4f4f4
}

#mainHeader {
  background-color: white;
  border: #e6e4e4 1px solid;
}

#mainHeader .brandText {
  font-style: inherit;
  font-weight: 500;
  font-size: small;
  letter-spacing: .2rem ;
  
}
#mainHeader .navbar-nav a {
  font-style: inherit;
  letter-spacing: .2rem ;
  font-size: small;
  color: rgb(126, 120, 120);
}

.container {
  max-width: 95%;
  padding-top: 3.5%;
}


#profile .profilePicture {
  padding-top: 4%;
  border-radius: 100%;
  max-width: 50%;
  
}
#profile .componentTitle{
  text-align: center;
}
#profile .email{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .2rem ;
  font-size: small;
  
}
#profile .email a {
  color: rgb(126, 120, 120);
  text-decoration: none;
}
#profile .email a:hover {
  color: rgb(67, 67, 238);
}

#contentArea {
  background-color: white;
  padding-top: 2%;
  border: #e6e4e4 1px solid;

}

.componentTitle {
  font-size: x-large;
  font-style: inherit;
  font-weight: bold;
  letter-spacing: .2rem ;
}
